<div class="card">
    <div class="card-header">
        <i class="fas fa-users"></i> สรุปข้อมูลผู้ใช้งานทั้งหมด
    </div>
    <!--/.card-header-->

    <div class="card-body">
        <table class="table table-default table-responsive-sm">
            <tr>
                <td style="width: 20%;"><strong>จำนวนผู้ใช้งานระบบทั้งหมด:</strong></td>
                <td style="width: 80%;">20 คน</td>
            </tr>
            <tr>
                <td><strong>จำนวนผู้ใช้งานระดับหัวหน้างาน:</strong></td>
                <td>4 คน</td>
            </tr>
            <tr>
                <td><strong>จำนวนผู้ใช้งานระดับปฏิบัติงาน:</strong></td>
                <td>16 คน</td>
            </tr>
        </table>
        <!--/.table-->
    </div>
    <!--/.card-body-->
</div>
<!--/.card-->